extends index

block innerContent
  div#content
    .row
      .col.s10.offset-s1
        br
        h3.blue-grey-text Settings
        form.col.s12
          .row
            .col.s10.input-field(style='margin-top: 50px')
              div#maxfilesizeslider
              label(for='maxfilesizeslider', style='bottom: 15px; top: unset') Max file size
            .col.s2.valign-wrapper
              span#maxfilesize(style='margin-top: 30px') 50 MB
          .row
            .col.s10.input-field(style='margin-top: 50px')
              div#maxquotaslider
              label(for='maxquotaslider', style='bottom: 15px; top: unset') Max quota per user
            .col.s2
              .valign-wrapper
                span#maxquota(style='margin-top: 30px') 50 MB
          .row
            .col.s8.input-field
              textarea#mimelist.materialize-textarea(name='mimelist')
              label(for='mimelist') MIME type list (one per line)
            .col.s4.input-field
              .switch
                label
                  | Whitelist
                  input#mimelisttype(type='checkbox', name='mimelisttype', checked=settings.mimeListType)
                  span.lever
                  | Blacklist
          .row
            br
            .col.right
              br.hide-on-med-and-up
              br.hide-on-med-and-up
              a.btn.waves-effect.waves-light(onclick='saveSettings()') Save
                i.material-icons.right check

block scripts
  script.
    window.settings = {
      mimeList: !{JSON.stringify(settings.mimeList)},
      mimeListType: #{settings.mimeListType},
      maxFileSize: #{settings.maxFileSize},
      maxQuota: #{settings.maxQuota}
    };
  script(type='text/javascript' src='/js/dashboard/settings.js')
