extends index

block innerContent
  div#content
    .row
      .col.s10.offset-s1
        br
        h3.blue-grey-text Edit User
        form.col.s12
          .row
            .col.s12.input-field
              input#username.validate(type='text', name='username', pattern='^[a-zA-Z0-9_]{4,24}$', value=searchedUser.username)
              label(for='username') Username
          .row
            .col.s12.input-field
              input#email.validate(type='email', name='email', value=searchedUser.email)
              label(for='email') Email
          .row
            .col.s12.input-field
              input#password.validate(type='password', name='password', pattern='^[\\x00-\\x7F]{8,50}$')
              label(for='password') Password
          .row
            .col.s12.m3.input-field
              .switch
                label Enabled
                  input(type='checkbox', name='enabled', checked=searchedUser.enabled)
                  span.lever
            br.hide-on-med-and-up
            br.hide-on-med-and-up
            .col.s12.m3.input-field
              .switch
                label Admin
                  input(type='checkbox', name='isAdmin', checked=searchedUser.isAdmin)
                  span.lever
            br
            .col.right
              br.hide-on-med-and-up
              br.hide-on-med-and-up
              a.btn.waves-effect.waves-light(onclick='editUser()') Save
                i.material-icons.right check

block scripts2
  script.
    window.searchedUser = {id: '#{searchedUser.id}'}
  script(type='text/javascript' src='../js/dashboard/user.js')
